html {
  font-size: 62.5%;
}
.dice {
  border-style: groove;
  border-width: 3px;
  border-color: black;
  background-color: #bdbdbd ;
  height: 50px;
  width: 50px;
}

.pirate-talk {
  font-size: 2.5rem;
}






/*translate3d(x, y, z)
x = horizontal movement
y = vertical movement*/
